[submodule "components/Matter"]
	path = components/Matter
	url = git@github.com:DoneTech-IoT/Matter.git
[submodule "components/UserInterface"]
	path = components/UserInterface
	url = git@github.com:DoneTech-IoT/CoffeeMaker_UI.git
[submodule "components/MQTT"]
	path = components/MQTT
	url = git@github.com:DoneTech-IoT/MQTTS.git
