menu "Done Main Config"    

    choice DONE_BOARDS
        prompt "Select your development board"
        default DONE_BOARDS_LILYGO_S3        
            
        config DONE_BOARDS_LILYGO_S3
            bool "LILYGO-S3 Display board"                  

        config DONE_BOARDS_WROOM
            bool "Wroom-S3 board"                                        
    endchoice        
         
    config DONE_PARTITION_TABLE_CUSTOM
        bool 
        depends on PARTITION_TABLE_CUSTOM     
        default y 

    config DONE_PARTITION_TABLE_CUSTOM_FILENAME           
        string         
        default "partitions_s3_8m.csv"  if DONE_BOARDS_WROOM
        default "partitions_s3_16m.csv" if DONE_BOARDS_LILYGO_S3                        
                     
endmenu